<% content_for :body_class, "page" %>
<% content_for :page_title, t('terms.title') %>

<div class="container" >

  <h1><%= yield (:page_title) %></h1>
  <hr>
  <p><%= t('terms.main_text') %></p>
</div>