.about {
  padding-top: 20px;
  padding-bottom: 20px;

  .about__title {
    font-family: "RobotoSlabBold";
    font-size: 36px;
    text-align: center;
    color: #313131;

    @include media-breakpoint-up(lg) {
      line-height: 27px;
    }
  }

  .about__subtitle {
    margin-bottom: 20px;
    font-family: "RobotoSlabRegular";
    font-size: 20px;
    color: $main-color;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }

  .about__line {
    margin-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 0
    ;
      left: 50%;
      width: 8.5%;
      height: 1px;
      transform: translateX(-50%);
      background-color: $main-color;
    }
  }

  .about__item {
    padding-top: 20px;
    padding-bottom: 20px;

    .item__slider {
      padding-bottom: 30px;

      .carousel-item {

        img {
          width: 100%;
        }
      }

      .carousel-indicators {
        bottom: 5px;
        margin-bottom: 0;

        li {
          margin-left: 7px;
          margin-right: 7px;
          width: 5px;
          height: 5px;
          background-color: #909090;
          border-radius: 50%;
          cursor: pointer;
          transition: all 0.3s;
        }

        li.active {
          transform: scale(1.8);
          background-color: $main-color;
        }
      }

      .carousel-control-next {
        width: 40px;
        height: 40px;
        top: 50%;
        right: 0px;
        transform: translateY(-35px);
        background-color: #212121;
        opacity: 1;
        color: rgba(255,255,255,0.5);
        transition: all 0.3s;

        @include media-breakpoint-down(sm) {
          right: 10px;
        }

        @include media-breakpoint-up(lg) {

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .carousel-control-prev {
        width: 40px;
        height: 40px;
        top: 50%;
        left: 0;
        transform: translateY(-35px);
        background-color: $main-color;
        opacity: 1;
        color: rgba(255,255,255,1);
        transition: all 0.3s;

        @include media-breakpoint-down(sm) {
          left: 10px;
        }

        @include media-breakpoint-up(lg) {

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .item__descr {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;

      h3 {
        font-family: "RobotoSlabBold";
        font-size: 28px;
        line-height: 30px;
        color: #313131;
      }

      p {
        font-family: "OpenSansRegular";
        font-size: 15px;
        line-height: 21px;
        color: #999999;
      }

      b {
        font-family: "OpenSansBold";
      }

      h4 {
        font-family: "RobotoSlabRegular";
        font-size: 20px;
        line-height: 30px;
        color: $main-color;
      }

      a {
        @include make-btn-2();
        margin-top: 25px;
        margin-bottom: 0;
      }
    }
  }
}


@include media-breakpoint-up(lg) {

  .about {
    padding-top: 40px;
    padding-bottom: 40px;

    @include media-breakpoint-up(xl) {
      padding-top: 90px;
    }

    .about__item {
      padding-top: 15px;
      padding-bottom: 15px;

      @include media-breakpoint-up(xl) {
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .item__descr {
        text-align: left;
      }

      &--odd {

        .item__descr {
          padding-left: 30px;
          padding-right: 30px;

          @include media-breakpoint-up(xl) {
            padding-left: 50px;
          }
        }
      }

      &--even {

        .item__descr {
          padding-right: 30px;
          padding-left: 0;

          @include media-breakpoint-up(xl) {
            padding-right: 50px;
          }
        }
      }
    }
  }
}