.recent-sponsors {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-up(lg) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .sponsors__title {
    font-family: "RobotoSlabBold";
    font-size: 36px;
    text-align: center;
    color: #313131;

    @include media-breakpoint-up(lg) {
      line-height: 27px;
    }
  }

  .sponsors__subtitle {
    margin-bottom: 20px;
    font-family: "OpenSansRegular";
    font-size: 18px;
    color: $main-color;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }
  }

  .sponsors__line {
    margin-bottom: 20px;
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #ebebeb;

    @include media-breakpoint-up(lg) {
      margin-bottom: 40px;
    }

    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 0
      ;
      left: 50%;
      width: 8.5%;
      height: 1px;
      transform: translateX(-50%);
      background-color: $main-color;
    }
  }

  .sponsor {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    .sponsor__avatar {
      flex-shrink: 0;
      margin-left: 0;
      margin-right: 0;
      margin-top: auto;
      margin-bottom: auto;
      display: block;
      width: 70px;
      height: 70px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      overflow: hidden;
    }

    .sponsor__descr {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: 25px;
      font-family: "RobotoSlabRegular";
      font-size: 18px;
      line-height: 22px;
      color: #313131;

      span {
        font-family: "OpenSansRegular";
        font-size: 15px;
        line-height: 22px;
        color: #999999;
      }
    }
  }

  .sponsors__btn {
    @include make-btn-2();
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
      margin-top: 45px;
    }
  }
}
