@font-face {
  font-family: 'OpenSansRegular';
  src: font-url('OpenSansRegular.woff2') format('woff2'),
    font-url('OpenSansRegular.woff') format('woff');
}

@font-face {
  font-family: 'OpenSansBold';
  src: font-url('OpenSansBold.woff2') format('woff2'),
    font-url('OpenSansBold.woff') format('woff');
}


@font-face {
  font-family: 'OpenSansLight';
  src: font-url('OpenSansLight.woff2') format('woff2'),
    font-url('OpenSansLight.woff') format('woff');
}


@font-face {
  font-family: 'OpenSansLightItalic';
  src: font-url('OpenSansLightItalic.woff2') format('woff2'),
    font-url('OpenSansLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'OpenSansItalic';
  src: font-url('OpenSansItalic.woff2') format('woff2'),
    font-url('OpenSansItalic.woff') format('woff');
}


@font-face {
  font-family: 'RobotoSlabBold';
  src: font-url('RobotoSlabBold.woff2') format('woff2'),
    font-url('RobotoSlabBold.woff') format('woff');
}


@font-face {
  font-family: 'RobotoSlabRegular';
  src: font-url('RobotoSlabRegular.woff2') format('woff2'),
    font-url('RobotoSlabRegular.woff') format('woff');
}
