body {
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img {
  max-width: 100%;
}

.select2-dropdown {
  border: 1px solid #ebebeb;
}

.select2-search {
  display: none;
}

.select2-results__option {
  font-family: "OpenSansRegular";
  font-size: 18px;
  text-align: center;
}


.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto;
}

.mfp-figure{
  &:after { box-shadow: none !important; }
}

.mfp-zoom-in {

  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {

    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.mfp-content {
  cursor: pointer !important;

  .mfp-close {
    top: -40px;
    cursor: pointer !important;

    &:active {
      top: -40px !important;
    }
  }

  .img__container {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 365px;
    height: 220px;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-up(sm) {
      max-width: 560px;
      height: 335px;
    }

    @include media-breakpoint-up(md) {
      max-width: 770px;
      height: 460px;
    }

    @include media-breakpoint-up(lg) {
      max-width: 990px;
      height: 595px;
    }

    td {
      border: 1px solid #373737;
      padding:0;
      margin:0;
      background: #313131;
    }

    #pixelsGrid {
      width:100%;
      height:100%;
    }

    .show {
      background: none;
      border: none;
    }
  }
}