html[dir="rtl"] {

  .header {

    .header-top__languages {
      margin-right: 0;
      margin-left: auto;
    }

    .header-top__socials {
      margin-left: 0;
      margin-right: auto;
    }

    @include media-breakpoint-up(lg) {

      .header-nav .navbar-nav {
        margin-left: 0 !important;
        margin-right: auto !important;

        .nav-link {
          padding-right: 0;
          padding-left: 18px;

          &::before {
            right: 0;
            text-align: right;
          }
        }
      }
    }

    @include media-breakpoint-up(xl) {

      .header-nav .navbar-nav {

        .nav-link {
          padding-left: 45px;
        }
      }
    }
  }

  .showcase {

    .video__descr {

      .descr__arrow {
        margin-right: 5px;
        margin-left: auto;
        transform: scale(1, -1) rotate(-90deg);

        @include media-breakpoint-up(md) {
          transform: scale(1, -1) rotate(-180deg);
          margin-left: 5px;
          margin-right: auto;
        }
      }

      .descr__text {
        margin-left: 0;
        margin-right: auto;
      }
    }
    .showcase__descr {
      text-align: right;  }
  }


  .sponsors {

    .sponsors__title {
      text-align: right;

    }
  }

  .about {

    .about__title,
    .about__subtitle {
      text-align: right;
    }

    .about__item {

      .item__descr {
        text-align: right;
      }
    }
  }

  .pixels {

    .pixels__title,
    .pixels__subtitle {
      text-align: right;
    }

    .pixels__buy-pixel {

      .buy-pixel__form {

        .form__top {

          .price {

            @include media-breakpoint-up(lg) {
              &::after {
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 25px solid #f5b86a;
                border-right: none;
                left: calc(100%);
              }
            }
          }

          .progress {

            .progress__current {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }

        .form__bottom {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }

  .recent-sponsors {

    .sponsors__title,
    .sponsors__subtitle {
      text-align: right;
    }

    .sponsor {

      @include media-breakpoint-down(sm) {
        margin-left: auto;
        margin-right: auto;
      }

      .sponsor__descr {
        margin-right: 25px;
        margin-left: auto;
        text-align: right;
      }
    }
  }

  .questions {

    .faq__title,
    .ask-questions__title {
      text-align: right;
    }

    .questions__faq,
    .questions__ask-question {
      margin-left: auto;
      margin-right: auto;
    }

    .faq__accordion {

      .accordion__item {
        text-align: right;

        .item__heading {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }

  .footer-top,
  .footer-bottom {
    text-align: right;
  }

  .footer-top {

    h4,
    p,
    li {
      text-align: right !important;
    }
  }

  .footer-bottom__info {
    text-align: right;
  }
}